*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --green: #00FF00;
  --white: #da8b8b;
  --black: #000000;
}
body{
  background: var(--bg);
  color: var(--fontColor);
  font-family:monospace ;
  font-family: 'Times New Roman', Times, serif;
}



.dark-theme{ /*.dark is a class selector*/
  --bg: var(--black);
  --fontColor: var(--green);
  --btnBg: var(--white);
  --btnFontColor: var(--black);
}
.dark-theme, .btn{
  --btnBg:rgb(195, 148, 148);
}
.light-theme, .btn{
  --btnBg: gray;
}
.ght-theme{
  --bg: var(--white);
  --fontColor: var(--black);
}
.btn{
  position:relative;
  top: 20px;
  left: 4px;
  height: 30px;
  width: 30px;
  border-radius: 60%;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
  position: fixed;
  
}

#Nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d1c0c0;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }
  #Nav-bar,
  li {
    float: right;
    display: flex;
    flex-direction: row;
    margin: 5px;
  }
  a{
    text-decoration: none;
    
  }
  a:hover{
    color: green;
    transition: 1s;
    background-color: rgb(239, 233, 233);
    border-radius: 5px;
  }
  a:active{
    color: rgb(0, 255, 13);
  }
  .header{
    display: block;
  }
  .header, h1{
    text-align: center;
  }
  /****** home page********/
  .galaxy-s23-highlights-kv, img{
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .galaxy-s23-highlights-kv .head1{
    font-size: 50px;
    color: rgb(0, 255, 13);
    text-shadow: 2px 2px 2px black;
    display: inline-block;
  }
  .header .h1{
    font-size: 50px;
    color: rgb(0, 255, 13);
    text-shadow: 2px 2px 2px black;
  }
  /***********Poducts description****************/
  .product{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #myMenu{
    display: none;
   }
   .searchInput{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
   }


   /***********about*****************/
   
   header {
    background-color: #0078d7;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
}
.rounded-social-buttons .social-button {
display: inline-block;
position: relative;
cursor:alias;
width: 3.125rem;
height: 3.125rem;
border: 0.125rem solid transparent;
padding: 0;
text-decoration: none;
text-align: center;
color: #fefefe;
font-size: 1.5625rem;
font-weight: normal;
line-height: 2em;
border-radius: 1.6875rem;
transition: all 0.5s ease;
margin-right: 0.25rem;
margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
-webkit-transform: rotate(360deg);
-ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-youtube, .fa-instagram {
font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
color: #3b5998;
background: #fefefe;
border-color: #3b5998;
cursor: alias;
}

.rounded-social-buttons .social-button.twitter {
background: #55acee;
}

.rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
color: #55acee;
background: #fefefe;
border-color: #55acee;
}

.rounded-social-buttons .social-button.instagram {
background: #125688;
}

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
color: #125688;
background: #fefefe;
border-color: #125688;
}
/* CSS for footer */
.footer {
display: flex;
justify-content: space-between;
align-items: center;
background-color: #4fd422;
padding: 80px 80px;
}

.footer .copy {
color: #e20d78;
}

.bottom-links {
display: flex;
justify-content: space-around;
align-items: center;
padding: 40px 0;
}

.bottom-links .links {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0 50px;
}

.bottom-links .links span {
font-size: 30px;
color: #e91616;
text-transform: uppercase;
margin: 10px 0;
}

.bottom-links .links a {
text-decoration:wavy;
color: #2c12c2;
padding: 10px 20px;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');