*{
    margin:auto;
    padding: auto;

}
body{
    max-width: 80%;
    text-align: center;
    background-color: aquamarine;
    color: blue;
    font-family: 'monospace';  
     
}
image{
    width: 100%;
}
h3{
    margin: 6PX;
}
div{
    background-image: url("bg2.png");
    color: yellow;
    text-align: left;
    margin-bottom: 10px;
    font-size: large;
}
a{
    text-decoration: none;
    color: blueviolet;
}

a:hover{
    color: blue;
}
p{
    margin: 3px;
}
.list-ul{
    list-style:circle;
}
#body-love{
    background-image: url(bg2.png);
}