
body{
    font-family: 'Courier New', Courier, monospace;
    width: auto;
    background-color: chartreuse;
    text-align: center;
    font-weight: bold;
}
h1{
    color: blue;
}
button{
    background-color: gold;
    color: white;
    font-weight: bold;
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-bottom: 2px;
 }
 p{
    font-style: italic;
    
 }